In [270]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [271]:
iris = datasets.load_iris()
print(iris)

{'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'), 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...', 'feature_names': ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'], 'data': array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]]), 'filename': '/usr/local/lib/python3.5/dist-packages/sklearn/datasets/data/iris.csv', 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])}

In [272]:
from sklearn.neighbors.nearest_centroid import NearestCentroid
i = pd.DataFrame(iris["data"], columns=iris["feature_names"])
i

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
6                  4.6               3.4                1.4               0.3
7                  5.0               3.4                1.5               0.2
8                  4.4               2.9                1.4               0.2
9                  4.9               3.1                1.5               0.1
10                 5.4               3.7                1.5               0.2
11                 4.8               3.4                1.6               0.2
12                 4.8               3.0                1.4               0.1
13                 4.3               3.0                1.1               0.1
14                 5.8               4.0                1.2               0.2
15                 5.7               4.4                1.5               0.4
16                 5.4               3.9                1.3               0.4
17                 5.1               3.5                1.4               0.3
18                 5.7               3.8                1.7               0.3
19                 5.1               3.8                1.5               0.3
20                 5.4               3.4                1.7               0.2
21                 5.1               3.7                1.5               0.4
22                 4.6               3.6                1.0               0.2
23                 5.1               3.3                1.7               0.5
24                 4.8               3.4                1.9               0.2
25                 5.0               3.0                1.6               0.2
26                 5.0               3.4                1.6               0.4
27                 5.2               3.5                1.5               0.2
28                 5.2               3.4                1.4               0.2
29                 4.7               3.2                1.6               0.2
..                 ...               ...                ...               ...
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [273]:
i["target"] = iris.target
i.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [274]:
i[5:10][['sepal length (cm)','sepal width (cm)']]

   sepal length (cm)  sepal width (cm)
5                5.4               3.9
6                4.6               3.4
7                5.0               3.4
8                4.4               2.9
9                4.9               3.1

In [275]:
i.loc[5:10][['sepal length (cm)','sepal width (cm)']]

    sepal length (cm)  sepal width (cm)
5                 5.4               3.9
6                 4.6               3.4
7                 5.0               3.4
8                 4.4               2.9
9                 4.9               3.1
10                5.4               3.7

In [276]:
sector = i.groupby("target")
sector.get_group(0).head(4)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0

In [277]:
sector.get_group(1).head(4)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1

In [278]:
sector.get_group(2).head(4)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2
102,7.1,3.0,5.9,2.1,2
103,6.3,2.9,5.6,1.8,2

In [279]:
for num in range(100):
    r = np.random.randint(0,4)
    i.iloc[num:num+1,r:r+1] = np.nan

output=i.to_json(orient='records') #把dataframe類型的hero_data輸出成json檔(csv檔也行)
with open('iris_missingvalue.json', 'w') as f: #python的寫檔
    f.write(output)

i.head(20)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,NaN,0
1,NaN,3.0,1.4,0.2,0
2,4.7,NaN,1.3,0.2,0
3,4.6,3.1,NaN,0.2,0
4,5.0,3.6,1.4,NaN,0
5,NaN,3.9,1.7,0.4,0
6,4.6,3.4,NaN,0.3,0
7,NaN,3.4,1.5,0.2,0
8,NaN,2.9,1.4,0.2,0
9,4.9,NaN,1.5,0.1,0
10,NaN,3.7,1.5,0.2,0
11,NaN,3.4,1.6,0.2,0
12,4.8,3.0,NaN,0.1,0
13,NaN,3.0,1.1,0.1,0
14,NaN,4.0,1.2,0.2,0
15,5.7,4.4,1.5,NaN,0
16,5.4,3.9,1.3,NaN,0
17,5.1,NaN,1.4,0.3,0
18,NaN,3.8,1.7,0.3,0
19,5.1,3.8,NaN,0.3,0

In [290]:
data = pd.read_json("./iris_missingvalue.json")
i = pd.DataFrame(data,dtype=float)
fill = i.fillna(i.mean())
fill.head(5)

,petal length (cm),petal width (cm),sepal length (cm),sepal width (cm),target
0,1.400000,1.257377,5.100000,3.500000,0.0
1,1.400000,0.200000,5.942623,3.000000,0.0
2,1.300000,0.200000,4.700000,3.057143,0.0
3,3.874615,0.200000,4.600000,3.100000,0.0
4,1.400000,1.257377,5.000000,3.600000,0.0

In [281]:
drop = i.dropna()
drop.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2
102,7.1,3.0,5.9,2.1,2
103,6.3,2.9,5.6,1.8,2
104,6.5,3.0,5.8,2.2,2

In [282]:
values = {'sepal length (cm)': 0, 'sepal width (cm)':0 }
fill_col = i.fillna(value = values)
fill_col.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,NaN,0
1,0.0,3.0,1.4,0.2,0
2,4.7,0.0,1.3,0.2,0
3,4.6,3.1,NaN,0.2,0
4,5.0,3.6,1.4,NaN,0

In [283]:
drop_col = i.drop(columns = ['sepal length (cm)','sepal width (cm)'])
drop_col.head(5)

   petal length (cm)  petal width (cm)  target
0                1.4               NaN       0
1                1.4               0.2       0
2                1.3               0.2       0
3                NaN               0.2       0
4                1.4               NaN       0

In [284]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(i)
print(imp.transform(i))

[[5.1        3.5        1.4        1.25737705 0.        ]
 [5.94262295 3.         1.4        0.2        0.        ]
 [4.7        3.05714286 1.3        0.2        0.        ]
 [4.6        3.1        3.87461538 0.2        0.        ]
 [5.         3.6        1.4        1.25737705 0.        ]
 [5.94262295 3.9        1.7        0.4        0.        ]
 [4.6        3.4        3.87461538 0.3        0.        ]
 [5.94262295 3.4        1.5        0.2        0.        ]
 [5.94262295 2.9        1.4        0.2        0.        ]
 [4.9        3.05714286 1.5        0.1        0.        ]
 [5.94262295 3.7        1.5        0.2        0.        ]
 [5.94262295 3.4        1.6        0.2        0.        ]
 [4.8        3.         3.87461538 0.1        0.        ]
 [5.94262295 3.         1.1        0.1        0.        ]
 [5.94262295 4.         1.2        0.2        0.        ]
 [5.7        4.4        1.5        1.25737705 0.        ]
 [5.4        3.9        1.3        1.25737705 0.        ]
 [5.1        3.05714286 1.4        0.3        0.        ]
 [5.94262295 3.8        1.7        0.3        0.        ]
 [5.1        3.8        3.87461538 0.3        0.        ]
 [5.4        3.4        1.7        1.25737705 0.        ]
 [5.94262295 3.7        1.5        0.4        0.        ]
 [4.6        3.6        1.         1.25737705 0.        ]
 [5.1        3.3        3.87461538 0.5        0.        ]
 [5.94262295 3.4        1.9        0.2        0.        ]
 [5.         3.         1.6        1.25737705 0.        ]
 [5.94262295 3.4        1.6        0.4        0.        ]
 [5.2        3.05714286 1.5        0.2        0.        ]
 [5.2        3.05714286 1.4        0.2        0.        ]
 [4.7        3.2        1.6        1.25737705 0.        ]
 [4.8        3.1        3.87461538 0.2        0.        ]
 [5.94262295 3.4        1.5        0.4        0.        ]
 [5.94262295 4.1        1.5        0.1        0.        ]
 [5.5        3.05714286 1.4        0.2        0.        ]
 [5.94262295 3.1        1.5        0.2        0.        ]
 [5.         3.05714286 1.2        0.2        0.        ]
 [5.5        3.5        1.3        1.25737705 0.        ]
 [4.9        3.05714286 1.4        0.1        0.        ]
 [5.94262295 3.         1.3        0.2        0.        ]
 [5.1        3.05714286 1.5        0.2        0.        ]
 [5.         3.05714286 1.3        0.3        0.        ]
 [4.5        2.3        3.87461538 0.3        0.        ]
 [4.4        3.05714286 1.3        0.2        0.        ]
 [5.         3.5        3.87461538 0.6        0.        ]
 [5.1        3.8        1.9        1.25737705 0.        ]
 [4.8        3.05714286 1.4        0.3        0.        ]
 [5.1        3.8        3.87461538 0.2        0.        ]
 [5.94262295 3.2        1.4        0.2        0.        ]
 [5.3        3.05714286 1.5        0.2        0.        ]
 [5.94262295 3.3        1.4        0.2        0.        ]
 [5.94262295 3.2        4.7        1.4        1.        ]
 [5.94262295 3.2        4.5        1.5        1.        ]
 [6.9        3.1        4.9        1.25737705 1.        ]
 [5.5        2.3        3.87461538 1.3        1.        ]
 [6.5        3.05714286 4.6        1.5        1.        ]
 [5.7        2.8        3.87461538 1.3        1.        ]
 [6.3        3.3        4.7        1.25737705 1.        ]
 [4.9        2.4        3.87461538 1.         1.        ]
 [5.94262295 2.9        4.6        1.3        1.        ]
 [5.2        2.7        3.9        1.25737705 1.        ]
 [5.         3.05714286 3.5        1.         1.        ]
 [5.9        3.05714286 4.2        1.5        1.        ]
 [6.         2.2        3.87461538 1.         1.        ]
 [5.94262295 2.9        4.7        1.4        1.        ]
 [5.94262295 2.9        3.6        1.3        1.        ]
 [5.94262295 3.1        4.4        1.4        1.        ]
 [5.6        3.         3.87461538 1.5        1.        ]
 [5.8        2.7        3.87461538 1.         1.        ]
 [6.2        3.05714286 4.5        1.5        1.        ]
 [5.6        2.5        3.9        1.25737705 1.        ]
 [5.9        3.2        4.8        1.25737705 1.        ]
 [6.1        2.8        3.87461538 1.3        1.        ]
 [6.3        2.5        4.9        1.25737705 1.        ]
 [6.1        2.8        4.7        1.25737705 1.        ]
 [6.4        2.9        4.3        1.25737705 1.        ]
 [6.6        3.         3.87461538 1.4        1.        ]
 [6.8        3.05714286 4.8        1.4        1.        ]
 [6.7        3.05714286 5.         1.7        1.        ]
 [6.         2.9        4.5        1.25737705 1.        ]
 [5.7        2.6        3.5        1.25737705 1.        ]
 [5.5        3.05714286 3.8        1.1        1.        ]
 [5.94262295 2.4        3.7        1.         1.        ]
 [5.8        2.7        3.9        1.25737705 1.        ]
 [6.         2.7        3.87461538 1.6        1.        ]
 [5.4        3.05714286 4.5        1.5        1.        ]
 [6.         3.4        3.87461538 1.6        1.        ]
 [6.7        3.1        4.7        1.25737705 1.        ]
 [6.3        3.05714286 4.4        1.3        1.        ]
 [5.94262295 3.         4.1        1.3        1.        ]
 [5.5        2.5        3.87461538 1.3        1.        ]
 [5.5        3.05714286 4.4        1.2        1.        ]
 [6.1        3.         4.6        1.25737705 1.        ]
 [5.8        2.6        4.         1.25737705 1.        ]
 [5.         2.3        3.3        1.25737705 1.        ]
 [5.6        2.7        4.2        1.25737705 1.        ]
 [5.94262295 3.         4.2        1.2        1.        ]
 [5.7        2.9        4.2        1.25737705 1.        ]
 [5.94262295 2.9        4.3        1.3        1.        ]
 [5.1        2.5        3.         1.25737705 1.        ]
 [5.7        3.05714286 4.1        1.3        1.        ]
 [6.3        3.3        6.         2.5        2.        ]
 [5.8        2.7        5.1        1.9        2.        ]
 [7.1        3.         5.9        2.1        2.        ]
 [6.3        2.9        5.6        1.8        2.        ]
 [6.5        3.         5.8        2.2        2.        ]
 [7.6        3.         6.6        2.1        2.        ]
 [4.9        2.5        4.5        1.7        2.        ]
 [7.3        2.9        6.3        1.8        2.        ]
 [6.7        2.5        5.8        1.8        2.        ]
 [7.2        3.6        6.1        2.5        2.        ]
 [6.5        3.2        5.1        2.         2.        ]
 [6.4        2.7        5.3        1.9        2.        ]
 [6.8        3.         5.5        2.1        2.        ]
 [5.7        2.5        5.         2.         2.        ]
 [5.8        2.8        5.1        2.4        2.        ]
 [6.4        3.2        5.3        2.3        2.        ]
 [6.5        3.         5.5        1.8        2.        ]
 [7.7        3.8        6.7        2.2        2.        ]
 [7.7        2.6        6.9        2.3        2.        ]
 [6.         2.2        5.         1.5        2.        ]
 [6.9        3.2        5.7        2.3        2.        ]
 [5.6        2.8        4.9        2.         2.        ]
 [7.7        2.8        6.7        2.         2.        ]
 [6.3        2.7        4.9        1.8        2.        ]
 [6.7        3.3        5.7        2.1        2.        ]
 [7.2        3.2        6.         1.8        2.        ]
 [6.2        2.8        4.8        1.8        2.        ]
 [6.1        3.         4.9        1.8        2.        ]
 [6.4        2.8        5.6        2.1        2.        ]
 [7.2        3.         5.8        1.6        2.        ]
 [7.4        2.8        6.1        1.9        2.        ]
 [7.9        3.8        6.4        2.         2.        ]
 [6.4        2.8        5.6        2.2        2.        ]
 [6.3        2.8        5.1        1.5        2.        ]
 [6.1        2.6        5.6        1.4        2.        ]
 [7.7        3.         6.1        2.3        2.        ]
 [6.3        3.4        5.6        2.4        2.        ]
 [6.4        3.1        5.5        1.8        2.        ]
 [6.         3.         4.8        1.8        2.        ]
 [6.9        3.1        5.4        2.1        2.        ]
 [6.7        3.1        5.6        2.4        2.        ]
 [6.9        3.1        5.1        2.3        2.        ]
 [5.8        2.7        5.1        1.9        2.        ]
 [6.8        3.2        5.9        2.3        2.        ]
 [6.7        3.3        5.7        2.5        2.        ]
 [6.7        3.         5.2        2.3        2.        ]
 [6.3        2.5        5.         1.9        2.        ]
 [6.5        3.         5.2        2.         2.        ]
 [6.2        3.4        5.4        2.3        2.        ]
 [5.9        3.         5.1        1.8        2.        ]]